data/TimeTableDTD.dtd

<?xml version="1.0" encoding="UTF-8" ?>


<!-- A schedule consists of the day of classes, a time of that class (period)
    , and the course that you are attending -->
<!ELEMENT schedule (days+,periods*,courses*)>

<!ELEMENT days (day)>

<!ELEMENT day (booking)>
<!ATTLIST day
    dayofweek (monday|tuesday|wednesday|thursday|friday)
>

<!ELEMENT periods (period)>
<!ELEMENT period (booking)>
<!ATTLIST period
    timeslot (830|930|1030|1130|1230|130|230|330|430)
        day (monday|tuesday|wednesday|thursday|friday)
>

<!ELEMENT booking (course,instructor,room)>
<!ELEMENT course (#PCDATA)>
<!ELEMENT instructor (#PCDATA)>
<!ELEMENT room (#PCDATA)>
<!ATTLIST room
    building (SW1|SW3|SW5|SW9|SE6|SE12|NE1)
>

<!ELEMENT courses (course)>











